---
name: ${name}
description: ${description}
model: ${model}
thinking: ${thinking}
tools: ${tools}
systemPromptMode: ${system_prompt_mode}
inheritProjectContext: ${inherit_project_context}
inheritSkills: ${inherit_skills}
${extra_frontmatter}---

${prompt}
